<div class="row">
  <div class="col-xs-12">
    <label>recipe name</label>
    <input type="text" class="form-control" #recipeNameInput>

    <label>recipe description</label>
    <input type="text" class="form-control" #recipeDescriptionInput>

    <label>recipe imagePath</label>
    <input type="text" class="form-control" #recipeImagePathInput>

    <hr>

    <button class="btn btn-success" (click)="onCreateRecipe(
      recipeNameInput,
      recipeDescriptionInput,
      recipeImagePathInput
    )">
      Add New Recipe
    </button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
  <app-recipe-item
    *ngFor="let recipe of recipes"
    [recipe]="recipe"
    (recipeSelected)="onRecipeSelected(recipe)"
  ></app-recipe-item>
  </div>
</div>
