<div class="row">
  <div class="col-xs-12">
    <label>recipe name</label>
    <input type="text" class="form-control" #recipeNameInput>
    <label>recipe description</label>
    <input type="text" class="form-control" #recipeDescriptionInput>
    <label>recipe imagePath</label>
    <input type="text" class="form-control" #recipeImagePathInput>

    <div class="row">
      <div class="col-sm-5 form-group">
        <label for="name">Name</label>
        <input type="text" id="name" class="form-control" #ingredientNameInput>
      </div>
      <div class="col-sm-2 form-group">
        <label for="amount">Amount</label>
        <input type="text" id="amount" class="form-control" #ingredientAmountInput>
      </div>
      <div class="col-sm-4 form-group">
        <label>Add to list</label>
        <button
          class="btn btn-primary form-control"
          (click)="addIngredientToList(ingredientNameInput, ingredientAmountInput)"
        >
          ADD
        </button>
      </div>
    </div>

    <hr>
    <ul>
      <li *ngFor="let ingr of temporaryIngredients" [ingr]="ingr">
        {{ingr.name}} ({{ingr.amount}})
      </li>
    </ul>

    <hr>
    <button class="btn btn-success" (click)="onCreateRecipe(
      recipeNameInput,
      recipeDescriptionInput,
      recipeImagePathInput
    )">
      Add New Recipe
    </button>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-xs-12">
  <app-recipe-item
    *ngFor="let recipe of recipes"
    [recipe]="recipe"></app-recipe-item>
  </div>
</div>
